.elementor-49870 .elementor-element.elementor-element-705a859 {
    --display: flex;
    --min-height: 300px;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --overlay-opacity: 0.65;
}
.elementor-49870 .elementor-element.elementor-element-705a859:not(.elementor-motion-effects-element-type-background),
.elementor-49870
    .elementor-element.elementor-element-705a859
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: var(--wpr-bg-4a0989b7-2847-4f4e-b8e9-bf771dd44158);
    background-position: 50% 45%;
}
.elementor-49870 .elementor-element.elementor-element-705a859::before,
.elementor-49870 .elementor-element.elementor-element-705a859 > .elementor-background-video-container::before,
.elementor-49870
    .elementor-element.elementor-element-705a859
    > .e-con-inner
    > .elementor-background-video-container::before,
.elementor-49870 .elementor-element.elementor-element-705a859 > .elementor-background-slideshow::before,
.elementor-49870 .elementor-element.elementor-element-705a859 > .e-con-inner > .elementor-background-slideshow::before,
.elementor-49870
    .elementor-element.elementor-element-705a859
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer::before {
    background-color: #000000;
    --background-overlay: "";
}
.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}
.elementor-49870 .elementor-element.elementor-element-2e7eae6.elementor-element {
    --align-self: center;
    --flex-grow: 1;
    --flex-shrink: 0;
}
.elementor-49870 .elementor-element.elementor-element-2e7eae6 {
    text-align: center;
}
.elementor-49870 .elementor-element.elementor-element-2e7eae6 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}
.elementor-49870 .elementor-element.elementor-element-9690382 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 40px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.elementor-49870 .elementor-element.elementor-element-9690382:not(.elementor-motion-effects-element-type-background),
.elementor-49870
    .elementor-element.elementor-element-9690382
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #fefefe 57%, #fefefe 0%);
}
.elementor-49870 .elementor-element.elementor-element-6d9850f {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
}
.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-49870 .elementor-element.elementor-element-c6f2467 {
    width: var(--container-widget-width, 70%);
    max-width: 70%;
    --container-widget-width: 70%;
    --container-widget-flex-grow: 0;
}
.elementor-49870 .elementor-element.elementor-element-ed5a9e8 {
    --display: flex;
    --justify-content: center;
}
.elementor-49870 .elementor-element.elementor-element-949bbaf .elementor-heading-title {
    font-weight: 700;
    color: #1e5af6;
}
.elementor-widget-text-editor {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}
.elementor-49870 .elementor-element.elementor-element-9049300 {
    font-weight: 400;
    line-height: 1.6em;
    color: #333333;
}
.elementor-49870 .elementor-element.elementor-element-1e6366e {
    --display: flex;
    --min-height: 450px;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --overlay-opacity: 1;
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.elementor-49870 .elementor-element.elementor-element-1e6366e::before,
.elementor-49870 .elementor-element.elementor-element-1e6366e > .elementor-background-video-container::before,
.elementor-49870
    .elementor-element.elementor-element-1e6366e
    > .e-con-inner
    > .elementor-background-video-container::before,
.elementor-49870 .elementor-element.elementor-element-1e6366e > .elementor-background-slideshow::before,
.elementor-49870 .elementor-element.elementor-element-1e6366e > .e-con-inner > .elementor-background-slideshow::before,
.elementor-49870
    .elementor-element.elementor-element-1e6366e
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer::before {
    --background-overlay: "";
}
.elementor-49870 .elementor-element.elementor-element-2678d7e {
    --display: flex;
    --justify-content: center;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 10%;
    --padding-right: 0%;
}
.elementor-49870 .elementor-element.elementor-element-f510d19 {
    width: var(--container-widget-width, 30%);
    max-width: 30%;
    --container-widget-width: 30%;
    --container-widget-flex-grow: 0;
}
.elementor-49870 .elementor-element.elementor-element-c2d2342 {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    color: #3d4459;
}
.elementor-49870 .elementor-element.elementor-element-f4e1458 {
    --display: flex;
    --justify-content: center;
}
.elementor-49870 .elementor-element.elementor-element-c16269e {
    --display: flex;
    --justify-content: center;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --overlay-opacity: 0.6;
    --padding-top: 40px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.elementor-49870 .elementor-element.elementor-element-c16269e:not(.elementor-motion-effects-element-type-background),
.elementor-49870
    .elementor-element.elementor-element-c16269e
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #eff8ff00;
}
.elementor-49870 .elementor-element.elementor-element-c16269e::before,
.elementor-49870 .elementor-element.elementor-element-c16269e > .elementor-background-video-container::before,
.elementor-49870
    .elementor-element.elementor-element-c16269e
    > .e-con-inner
    > .elementor-background-video-container::before,
.elementor-49870 .elementor-element.elementor-element-c16269e > .elementor-background-slideshow::before,
.elementor-49870 .elementor-element.elementor-element-c16269e > .e-con-inner > .elementor-background-slideshow::before,
.elementor-49870
    .elementor-element.elementor-element-c16269e
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer::before {
    background-image: var(--wpr-bg-0992c68b-b521-49ae-b7e4-6650e833cd05);
    --background-overlay: "";
    background-position: center center;
}
.elementor-49870 .elementor-element.elementor-element-481bbed {
    --display: flex;
}
.elementor-49870 .elementor-element.elementor-element-683c15c > .elementor-widget-container {
    padding: 30px 30px 0px 30px;
}
.elementor-49870 .elementor-element.elementor-element-683c15c {
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    color: #3d4459;
}
.elementor-49870 .elementor-element.elementor-element-b399354 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
}
.elementor-49870 .elementor-element.elementor-element-5d32ecd {
    --display: flex;
}
.elementor-widget-image-box .elementor-image-box-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}
.elementor-widget-image-box:has(:hover) .elementor-image-box-title,
.elementor-widget-image-box:has(:focus) .elementor-image-box-title {
    color: var(--e-global-color-primary);
}
.elementor-widget-image-box .elementor-image-box-description {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-text);
}
.elementor-49870 .elementor-element.elementor-element-3a0bc9c .elementor-image-box-wrapper {
    text-align: center;
}
.elementor-49870 .elementor-element.elementor-element-3a0bc9c.elementor-position-right .elementor-image-box-img {
    margin-left: 22px;
}
.elementor-49870 .elementor-element.elementor-element-3a0bc9c.elementor-position-left .elementor-image-box-img {
    margin-right: 22px;
}
.elementor-49870 .elementor-element.elementor-element-3a0bc9c.elementor-position-top .elementor-image-box-img {
    margin-bottom: 22px;
}
.elementor-49870 .elementor-element.elementor-element-3a0bc9c .elementor-image-box-title {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}
.elementor-49870 .elementor-element.elementor-element-3a0bc9c .elementor-image-box-wrapper .elementor-image-box-img {
    width: 35%;
}
.elementor-49870 .elementor-element.elementor-element-3a0bc9c .elementor-image-box-img img {
    transition-duration: 0.3s;
}
.elementor-49870 .elementor-element.elementor-element-3a0bc9c .elementor-image-box-description {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #bfbfbf;
}
.elementor-49870 .elementor-element.elementor-element-c4551ed {
    --display: flex;
}
.elementor-49870 .elementor-element.elementor-element-f9c099f .elementor-image-box-wrapper {
    text-align: center;
}
.elementor-49870 .elementor-element.elementor-element-f9c099f.elementor-position-right .elementor-image-box-img {
    margin-left: 22px;
}
.elementor-49870 .elementor-element.elementor-element-f9c099f.elementor-position-left .elementor-image-box-img {
    margin-right: 22px;
}
.elementor-49870 .elementor-element.elementor-element-f9c099f.elementor-position-top .elementor-image-box-img {
    margin-bottom: 22px;
}
.elementor-49870 .elementor-element.elementor-element-f9c099f .elementor-image-box-title {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}
.elementor-49870 .elementor-element.elementor-element-f9c099f .elementor-image-box-wrapper .elementor-image-box-img {
    width: 35%;
}
.elementor-49870 .elementor-element.elementor-element-f9c099f .elementor-image-box-img img {
    transition-duration: 0.3s;
}
.elementor-49870 .elementor-element.elementor-element-f9c099f .elementor-image-box-description {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #bfbfbf;
}
.elementor-49870 .elementor-element.elementor-element-8c06d4a {
    --display: flex;
}
.elementor-49870 .elementor-element.elementor-element-aa2f6b6 .elementor-image-box-wrapper {
    text-align: center;
}
.elementor-49870 .elementor-element.elementor-element-aa2f6b6.elementor-position-right .elementor-image-box-img {
    margin-left: 22px;
}
.elementor-49870 .elementor-element.elementor-element-aa2f6b6.elementor-position-left .elementor-image-box-img {
    margin-right: 22px;
}
.elementor-49870 .elementor-element.elementor-element-aa2f6b6.elementor-position-top .elementor-image-box-img {
    margin-bottom: 22px;
}
.elementor-49870 .elementor-element.elementor-element-aa2f6b6 .elementor-image-box-title {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}
.elementor-49870 .elementor-element.elementor-element-aa2f6b6 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 35%;
}
.elementor-49870 .elementor-element.elementor-element-aa2f6b6 .elementor-image-box-img img {
    transition-duration: 0.3s;
}
.elementor-49870 .elementor-element.elementor-element-aa2f6b6 .elementor-image-box-description {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #bfbfbf;
}
.elementor-49870 .elementor-element.elementor-element-af7678d {
    --display: flex;
    --min-height: 450px;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --overlay-opacity: 0.16;
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.elementor-49870 .elementor-element.elementor-element-af7678d:not(.elementor-motion-effects-element-type-background),
.elementor-49870
    .elementor-element.elementor-element-af7678d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #fccc3026;
}
.elementor-49870 .elementor-element.elementor-element-af7678d::before,
.elementor-49870 .elementor-element.elementor-element-af7678d > .elementor-background-video-container::before,
.elementor-49870
    .elementor-element.elementor-element-af7678d
    > .e-con-inner
    > .elementor-background-video-container::before,
.elementor-49870 .elementor-element.elementor-element-af7678d > .elementor-background-slideshow::before,
.elementor-49870 .elementor-element.elementor-element-af7678d > .e-con-inner > .elementor-background-slideshow::before,
.elementor-49870
    .elementor-element.elementor-element-af7678d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer::before {
    background-image: var(--wpr-bg-488ba0ca-031f-4e6b-9b33-241ce0f6a7b3);
    --background-overlay: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-49870 .elementor-element.elementor-element-5dd01d3 {
    --display: flex;
    --justify-content: center;
}
.elementor-49870 .elementor-element.elementor-element-3a5d1e9 {
    --display: flex;
    --justify-content: center;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 10%;
    --padding-right: 0%;
}
.elementor-49870 .elementor-element.elementor-element-9c3b651 {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    color: #3d4459;
}
.elementor-49870 .elementor-element.elementor-element-b1e42a2 {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    color: #3d4459;
}
.elementor-49870 .elementor-element.elementor-element-441be85:not(.elementor-motion-effects-element-type-background),
.elementor-49870
    .elementor-element.elementor-element-441be85
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #165ef8;
}
.elementor-49870 .elementor-element.elementor-element-441be85 > .elementor-background-overlay {
    background-image: var(--wpr-bg-80800808-600a-4643-91b3-b921015958da);
    opacity: 0.5;
    transition:
        background 0.3s,
        border-radius 0.3s,
        opacity 0.3s;
}
.elementor-49870 .elementor-element.elementor-element-441be85 {
    transition:
        background 0.3s,
        border 0.3s,
        border-radius 0.3s,
        box-shadow 0.3s;
    padding: 050px 0px 50px 0px;
}
.elementor-49870 .elementor-element.elementor-element-441be85 > .elementor-shape-bottom svg {
    height: 42px;
}
.elementor-49870 .elementor-element.elementor-element-c16344e {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    color: #3d4459;
}
.elementor-49870 .elementor-element.elementor-element-1dde9c5 > .elementor-widget-container {
    margin: 0px 90px -25px 90px;
    padding: 0px 0px 0px 0px;
}
.elementor-49870 .elementor-element.elementor-element-1dde9c5 {
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    color: #3d4459;
}
.elementor-49870
    .elementor-element.elementor-element-46b44e5
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-49870 .elementor-element.elementor-element-46b44e5 > .elementor-background-overlay {
    background-color: #ffffff;
    background-image: var(--wpr-bg-930b81f3-29c0-4c2c-aa95-86632686d292);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.88;
    transition:
        background 0.3s,
        border-radius 0.3s,
        opacity 0.3s;
}
.elementor-49870 .elementor-element.elementor-element-46b44e5 {
    transition:
        background 0.3s,
        border 0.3s,
        border-radius 0.3s,
        box-shadow 0.3s;
    padding: 40px 0px 40px 0px;
}
.elementor-49870 .elementor-element.elementor-element-1e1f3a7 > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}
.elementor-49870 .elementor-element.elementor-element-a3d9fde {
    --display: flex;
    --min-height: 450px;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --overlay-opacity: 1;
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.elementor-49870 .elementor-element.elementor-element-a3d9fde:not(.elementor-motion-effects-element-type-background),
.elementor-49870
    .elementor-element.elementor-element-a3d9fde
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-49870 .elementor-element.elementor-element-a3d9fde::before,
.elementor-49870 .elementor-element.elementor-element-a3d9fde > .elementor-background-video-container::before,
.elementor-49870
    .elementor-element.elementor-element-a3d9fde
    > .e-con-inner
    > .elementor-background-video-container::before,
.elementor-49870 .elementor-element.elementor-element-a3d9fde > .elementor-background-slideshow::before,
.elementor-49870 .elementor-element.elementor-element-a3d9fde > .e-con-inner > .elementor-background-slideshow::before,
.elementor-49870
    .elementor-element.elementor-element-a3d9fde
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer::before {
    --background-overlay: "";
}
.elementor-49870 .elementor-element.elementor-element-daf9110 {
    --display: flex;
    --justify-content: center;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 0%;
    --padding-right: 0%;
}
.elementor-49870 .elementor-element.elementor-element-3b45e68 {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    color: #3d4459;
}
.elementor-49870 .elementor-element.elementor-element-581b6b7 {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    color: #3d4459;
}
.elementor-49870 .elementor-element.elementor-element-584b587 {
    --display: flex;
    --justify-content: center;
}
.elementor-49870 .elementor-element.elementor-element-6023bc8 {
    text-align: center;
}
.elementor-49870 .elementor-element.elementor-element-6023bc8 img {
    width: 80%;
}
.elementor-49870 .elementor-element.elementor-element-97286bd {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0%;
    --padding-bottom: 05%;
    --padding-left: 0%;
    --padding-right: 0%;
}
.elementor-49870 .elementor-element.elementor-element-97286bd:not(.elementor-motion-effects-element-type-background),
.elementor-49870
    .elementor-element.elementor-element-97286bd
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-49870 .elementor-element.elementor-element-06d7614 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-around;
    --align-items: center;
    --overlay-opacity: 1;
    --border-radius: 25px 25px 25px 25px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 10px;
    --padding-left: 40px;
    --padding-right: 40px;
}
.elementor-49870 .elementor-element.elementor-element-06d7614:not(.elementor-motion-effects-element-type-background),
.elementor-49870
    .elementor-element.elementor-element-06d7614
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(250deg, #1480d8 0%, #2196f3 100%);
}
.elementor-49870 .elementor-element.elementor-element-06d7614::before,
.elementor-49870 .elementor-element.elementor-element-06d7614 > .elementor-background-video-container::before,
.elementor-49870
    .elementor-element.elementor-element-06d7614
    > .e-con-inner
    > .elementor-background-video-container::before,
.elementor-49870 .elementor-element.elementor-element-06d7614 > .elementor-background-slideshow::before,
.elementor-49870 .elementor-element.elementor-element-06d7614 > .e-con-inner > .elementor-background-slideshow::before,
.elementor-49870
    .elementor-element.elementor-element-06d7614
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer::before {
    background-image: var(--wpr-bg-b7a5d035-b160-4ebc-b7e4-ab3ad5e7ae50);
    --background-overlay: "";
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 25% auto;
}
.elementor-49870 .elementor-element.elementor-element-ddd1be7 {
    --display: flex;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
}
.elementor-49870 .elementor-element.elementor-element-26b0604 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ffffff;
}
.elementor-49870 .elementor-element.elementor-element-09925f0 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #ffffff;
}
.elementor-widget-button .elementor-button {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
}
.elementor-49870 .elementor-element.elementor-element-7394245 .elementor-button {
    background-color: #ff731f;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    fill: #ffffff;
    color: #ffffff;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.53);
    border-radius: 10px 10px 10px 10px;
}
.elementor-49870 .elementor-element.elementor-element-7394245 > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
}
.elementor-49870 .elementor-element.elementor-element-7394245 {
    z-index: 1;
}
.elementor-49870 .elementor-element.elementor-element-7394245 .elementor-button-content-wrapper {
    flex-direction: row;
}
.elementor-49870 .elementor-element.elementor-element-7394245 .elementor-button .elementor-button-content-wrapper {
    gap: 9px;
}
.elementor-49870 .elementor-element.elementor-element-441bd43 > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    border-radius: 0px 0px 0px 0px;
}
.elementor-49870 .elementor-element.elementor-element-441bd43.elementor-element {
    --align-self: center;
}
.elementor-49870 .elementor-element.elementor-element-441bd43 {
    text-align: center;
}
.elementor-49870 .elementor-element.elementor-element-441bd43 img {
    width: 70%;
    max-width: 100%;
}
:root {
    --page-title-display: none;
}
@media (max-width: 1024px) {
    .elementor-49870
        .elementor-element.elementor-element-705a859:not(.elementor-motion-effects-element-type-background),
    .elementor-49870
        .elementor-element.elementor-element-705a859
        > .elementor-motion-effects-container
        > .elementor-motion-effects-layer {
        background-position: 0% 0%;
    }
    .elementor-49870 .elementor-element.elementor-element-1e6366e {
        --margin-top: 15%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
    }
    .elementor-49870 .elementor-element.elementor-element-2678d7e {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 05%;
        --padding-right: 35%;
    }
    .elementor-49870 .elementor-element.elementor-element-f4e1458 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 9%;
    }
    .elementor-49870 .elementor-element.elementor-element-3a0bc9c .elementor-image-box-title {
        font-size: 25px;
    }
    .elementor-49870 .elementor-element.elementor-element-f9c099f .elementor-image-box-title {
        font-size: 25px;
    }
    .elementor-49870 .elementor-element.elementor-element-aa2f6b6 .elementor-image-box-title {
        font-size: 25px;
    }
    .elementor-49870 .elementor-element.elementor-element-af7678d::before,
    .elementor-49870 .elementor-element.elementor-element-af7678d > .elementor-background-video-container::before,
    .elementor-49870
        .elementor-element.elementor-element-af7678d
        > .e-con-inner
        > .elementor-background-video-container::before,
    .elementor-49870 .elementor-element.elementor-element-af7678d > .elementor-background-slideshow::before,
    .elementor-49870
        .elementor-element.elementor-element-af7678d
        > .e-con-inner
        > .elementor-background-slideshow::before,
    .elementor-49870
        .elementor-element.elementor-element-af7678d
        > .elementor-motion-effects-container
        > .elementor-motion-effects-layer::before {
        background-position: bottom left;
    }
    .elementor-49870 .elementor-element.elementor-element-af7678d {
        --margin-top: 15%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
    }
    .elementor-49870 .elementor-element.elementor-element-5dd01d3 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 9%;
    }
    .elementor-49870 .elementor-element.elementor-element-3a5d1e9 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 05%;
        --padding-right: 35%;
    }
    .elementor-49870 .elementor-element.elementor-element-46b44e5 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-49870 .elementor-element.elementor-element-a3d9fde {
        --margin-top: 15%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
    }
    .elementor-49870 .elementor-element.elementor-element-daf9110 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 05%;
        --padding-right: 35%;
    }
    .elementor-49870 .elementor-element.elementor-element-584b587 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 9%;
    }
    .elementor-49870 .elementor-element.elementor-element-97286bd {
        --padding-top: 0%;
        --padding-bottom: 7%;
        --padding-left: 2%;
        --padding-right: 2%;
    }
    .elementor-49870 .elementor-element.elementor-element-441bd43 {
        width: var(--container-widget-width, 434px);
        max-width: 434px;
        --container-widget-width: 434px;
        --container-widget-flex-grow: 0;
    }
    .elementor-49870 .elementor-element.elementor-element-441bd43.elementor-element {
        --align-self: center;
    }
    .elementor-49870 .elementor-element.elementor-element-441bd43 img {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .elementor-49870
        .elementor-element.elementor-element-705a859:not(.elementor-motion-effects-element-type-background),
    .elementor-49870
        .elementor-element.elementor-element-705a859
        > .elementor-motion-effects-container
        > .elementor-motion-effects-layer {
        background-position: 0% 0%;
    }
    .elementor-49870 .elementor-element.elementor-element-949bbaf {
        text-align: center;
    }
    .elementor-49870 .elementor-element.elementor-element-949bbaf .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-49870 .elementor-element.elementor-element-1e6366e {
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 50px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-2678d7e {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 5%;
        --padding-bottom: 5%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-49870 .elementor-element.elementor-element-c2d2342 > .elementor-widget-container {
        margin: -11px 0px -25px 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-c2d2342 {
        text-align: center;
        font-size: 14px;
    }
    .elementor-49870 .elementor-element.elementor-element-f4e1458 {
        --margin-top: -12%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 5%;
    }
    .elementor-49870 .elementor-element.elementor-element-683c15c {
        text-align: center;
    }
    .elementor-49870 .elementor-element.elementor-element-3a0bc9c .elementor-image-box-img {
        margin-bottom: 22px;
    }
    .elementor-49870 .elementor-element.elementor-element-f9c099f .elementor-image-box-img {
        margin-bottom: 22px;
    }
    .elementor-49870 .elementor-element.elementor-element-aa2f6b6 .elementor-image-box-img {
        margin-bottom: 22px;
    }
    .elementor-49870 .elementor-element.elementor-element-af7678d {
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-5dd01d3 {
        --margin-top: 5%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 5%;
    }
    .elementor-49870 .elementor-element.elementor-element-3a5d1e9 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 5%;
        --padding-bottom: 5%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-49870 .elementor-element.elementor-element-9c3b651 {
        text-align: center;
    }
    .elementor-49870 .elementor-element.elementor-element-b1e42a2 > .elementor-widget-container {
        margin: -11px 0px -25px 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-b1e42a2 {
        text-align: center;
        font-size: 14px;
    }
    .elementor-49870 .elementor-element.elementor-element-f5096fd > .elementor-element-populated {
        margin: 20px 0px -33px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-c16344e {
        text-align: center;
    }
    .elementor-49870 .elementor-element.elementor-element-1dde9c5 > .elementor-widget-container {
        margin: 0px 10px 0px 10px;
        padding: 20px 0px 0px 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-1dde9c5 {
        text-align: center;
        font-size: 14px;
        line-height: 1em;
    }
    .elementor-49870 .elementor-element.elementor-element-46b44e5 {
        padding: 50px 20px 50px 20px;
    }
    .elementor-49870 .elementor-element.elementor-element-a3d9fde {
        --flex-direction: row-reverse;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap-reverse;
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-daf9110 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 5%;
        --padding-bottom: 5%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-49870 .elementor-element.elementor-element-3b45e68 {
        text-align: center;
    }
    .elementor-49870 .elementor-element.elementor-element-581b6b7 > .elementor-widget-container {
        margin: -11px 0px -25px 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-581b6b7 {
        text-align: center;
        font-size: 14px;
    }
    .elementor-49870 .elementor-element.elementor-element-584b587 {
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-49870 .elementor-element.elementor-element-6023bc8 img {
        max-width: 100%;
    }
    .elementor-49870 .elementor-element.elementor-element-97286bd {
        --padding-top: 0%;
        --padding-bottom: 10%;
        --padding-left: 4%;
        --padding-right: 4%;
    }
    .elementor-49870 .elementor-element.elementor-element-06d7614 {
        --flex-direction: column-reverse;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-49870 .elementor-element.elementor-element-06d7614::before,
    .elementor-49870 .elementor-element.elementor-element-06d7614 > .elementor-background-video-container::before,
    .elementor-49870
        .elementor-element.elementor-element-06d7614
        > .e-con-inner
        > .elementor-background-video-container::before,
    .elementor-49870 .elementor-element.elementor-element-06d7614 > .elementor-background-slideshow::before,
    .elementor-49870
        .elementor-element.elementor-element-06d7614
        > .e-con-inner
        > .elementor-background-slideshow::before,
    .elementor-49870
        .elementor-element.elementor-element-06d7614
        > .elementor-motion-effects-container
        > .elementor-motion-effects-layer::before {
        background-size: 50% auto;
    }
    .elementor-49870 .elementor-element.elementor-element-26b0604 {
        text-align: center;
    }
    .elementor-49870 .elementor-element.elementor-element-26b0604 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-49870 .elementor-element.elementor-element-09925f0 {
        text-align: center;
    }
    .elementor-49870 .elementor-element.elementor-element-09925f0 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-49870 .elementor-element.elementor-element-7394245 > .elementor-widget-container {
        margin: 10px 0px 10px 0px;
    }
    .elementor-49870 .elementor-element.elementor-element-7394245 .elementor-button {
        font-size: 15px;
    }
    .elementor-49870 .elementor-element.elementor-element-441bd43 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
        border-radius: 50px 50px 0px 50px;
    }
    .elementor-49870 .elementor-element.elementor-element-441bd43 img {
        width: 80%;
        border-radius: 50px 50px 0px 50px;
    }
}
@media (min-width: 768px) {
    .elementor-49870 .elementor-element.elementor-element-1e6366e {
        --content-width: 1200px;
    }
    .elementor-49870 .elementor-element.elementor-element-2678d7e {
        --width: 70%;
    }
    .elementor-49870 .elementor-element.elementor-element-f4e1458 {
        --width: 30%;
    }
    .elementor-49870 .elementor-element.elementor-element-5d32ecd {
        --width: 33%;
    }
    .elementor-49870 .elementor-element.elementor-element-c4551ed {
        --width: 33%;
    }
    .elementor-49870 .elementor-element.elementor-element-8c06d4a {
        --width: 33%;
    }
    .elementor-49870 .elementor-element.elementor-element-af7678d {
        --content-width: 1200px;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-49870 .elementor-element.elementor-element-2678d7e {
        --width: 100%;
    }
    .elementor-49870 .elementor-element.elementor-element-f4e1458 {
        --width: 100%;
    }
    .elementor-49870 .elementor-element.elementor-element-5dd01d3 {
        --width: 100%;
    }
    .elementor-49870 .elementor-element.elementor-element-3a5d1e9 {
        --width: 100%;
    }
    .elementor-49870 .elementor-element.elementor-element-daf9110 {
        --width: 100%;
    }
    .elementor-49870 .elementor-element.elementor-element-584b587 {
        --width: 100%;
    }
} /* Start custom CSS for html, class: .elementor-element-6cdb441 */
.border-value {
    width: 20%;
    height: 5px;
    background: #e8b409;
    margin: 0 auto;
} /* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-4d86b4e */
.border-value {
    width: 20%;
    height: 5px;
    background: #e8b409;
    margin: 0 auto;
} /* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6858429 */
.border-value {
    width: 20%;
    height: 5px;
    background: #e8b409;
    margin: 0 auto;
} /* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-1e1f3a7 */
.approachWorks.tutoringTheme {
    background-color: #transparent;
}

.approachWorks .worksList .worksListItem .worksListItemContent {
    color: #3d4459;
}

.approachWorks .approachWorksHeader {
    margin-bottom: 0 !important;
}

.approachWorks .approachWorksHeader {
    color: #3d4459;
}
.approachWorks.tutoringTheme .approachWorksBar {
    background-color: #f8ad29;
}
.approachWorks.tutoringTheme .worksList .worksListItem:before {
    border-top: 7px solid #f8ad29 !important;
} /* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-7394245 */
@media only screen and (max-width: 600px) {
    .btn-style {
        font-size: 14px !important;
    }
} /* End custom CSS */
